:root{
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("../assets/images/background-pattern-desktop.svg") no-repeat left top,
                linear-gradient(
                    180deg,
                    var(--dark-purple) 0%,
                    var(--dark-purple) 44.5%,
                    var(--light-pink) 44.5%,
                    var(--light-pink) 100%
                    )
    ;
    background-size: contain;
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Work Sans',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background: var(--white);
    padding: 2rem;
    box-shadow: 0 0 20px 0 #00000030;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 550px;
}

main h1 {
    color:var(--dark-purple);
    display: flex;
    gap: 16px;
}

main h1::before{
    position: relative;
    content: url(../assets/images/icon-star.svg);
}

.faqs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.faqs:not(:last-child){
    border-bottom: 2px solid var(--light-pink);
}

.faqs > .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    gap: 20px;
    cursor: pointer;
}

.faqs > .title::after{
    position: relative;
    content: url(../assets/images/icon-plus.svg);
}

.faqs.opened > .title::after{
    content: url(../assets/images/icon-minus.svg);
}

.faqs p {
    color: rgba(0, 0, 0, .8);
    font-weight: 400;
    overflow: hidden;
    height: 0;
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
}

.faqs.opened p {
    height: fit-content;

}



@media (max-width:375px) {
    body{
        background: url("../assets/images/background-pattern-mobile.svg") no-repeat left top,
                linear-gradient(
                    180deg,
                    var(--dark-purple) 0%,
                    var(--dark-purple) 44.5%,
                    var(--light-pink) 44.5%,
                    var(--light-pink) 100%
                    );
    }
    main {
        max-width: 300px;
        width: 90vw;
    }
}




@font-face {
    font-family: 'Work Sans';
    src: url(../assets/fonts/static/WorkSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url(../assets/fonts/static/WorkSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Work Sans';
    src: url(../assets/fonts/static/WorkSans-Bold.ttf);
    font-weight: 700;
}